In [1]:
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt
import plotly.plotly as py
import plotly.graph_objs as go
import numpy as np
import warnings
import re
warnings.filterwarnings('ignore')

In [2]:
fhand1=open('reports.xml','r+')

In [3]:
fhand1

In [4]:
x = []
for a in fhand1:
    b=a.split()
    x.append(b)

In [5]:
len(x)

2394190

In [6]:
x[2]

['<resultset', 'statement="select', '*', 'from', 'JHEP_pr.Document_Layer']

In [2]:
from xml.dom import minidom

In [3]:
import sys

In [4]:
_illegal_unichrs = [(0x00, 0x08), (0x0B, 0x0C), (0x0E, 0x1F), 
                        (0x7F, 0x84), (0x86, 0x9F), 
                        (0xFDD0, 0xFDDF), (0xFFFE, 0xFFFF)] 
if sys.maxunicode >= 0x10000:  # not narrow build 
        _illegal_unichrs.extend([(0x1FFFE, 0x1FFFF), (0x2FFFE, 0x2FFFF), 
                                 (0x3FFFE, 0x3FFFF), (0x4FFFE, 0x4FFFF), 
                                 (0x5FFFE, 0x5FFFF), (0x6FFFE, 0x6FFFF), 
                                 (0x7FFFE, 0x7FFFF), (0x8FFFE, 0x8FFFF), 
                                 (0x9FFFE, 0x9FFFF), (0xAFFFE, 0xAFFFF), 
                                 (0xBFFFE, 0xBFFFF), (0xCFFFE, 0xCFFFF), 
                                 (0xDFFFE, 0xDFFFF), (0xEFFFE, 0xEFFFF), 
                                 (0xFFFFE, 0xFFFFF), (0x10FFFE, 0x10FFFF)]) 

_illegal_ranges = ["%s-%s" % (unichr(low), unichr(high)) 
                   for (low, high) in _illegal_unichrs] 
_illegal_xml_chars_RE = re.compile(u'[%s]' % u''.join(_illegal_ranges))

In [2]:
from lxml import etree

In [3]:

xmls=[]

In [4]:

with open('reports.xml') as infile:
    parser = etree.XMLParser(ns_clean=True, recover = True)
    tree = etree.parse(infile, parser=parser)
    root = tree.getroot()
    xmls.append(root)

In [8]:
xmls[0].tag

'resultset'

In [9]:
len(root)

81253

In [5]:
l1 = []
l2 = []
l3 = []
for i in root:
    l1.append(i[2].text)
    l2.append(i[4].text)
    l3.append(i[7].text)

In [6]:
d= {'EDRE':l1,
    'Report':l2,
    'version_id':l3
}
df = pd.DataFrame(d)

In [13]:
df.head()

    EDRE Report version_id
0  REREP   None          1
1  EDREP   None          1
2  EDREP   None          3
3  EDREP   None          5
4  REREP   None          7

In [14]:
df.EDRE.value_counts()

EDREP    44492
REREP    36761
Name: EDRE, dtype: int64

In [15]:
df[df['EDRE']=='EDREP']

        EDRE                                             Report version_id
1      EDREP                                               None          1
2      EDREP                                               None          3
3      EDREP                                               None          5
5      EDREP                                               None          7
6      EDREP                                               None          8
8      EDREP                                               None         10
10     EDREP                                               None         12
12     EDREP                                               None         15
14     EDREP                                               None         16
16     EDREP                                               None         18
18     EDREP                                               None         19
19     EDREP                                               None         21
21     EDREP                                               None         22
22     EDREP                                               None         24
24     EDREP                                               None         25
26     EDREP                                               None         27
28     EDREP                                               None         28
30     EDREP                                               None         30
32     EDREP                                               None         31
34     EDREP                                               None         32
36     EDREP                                               None         33
37     EDREP                                               None         35
38     EDREP                                               None         36
40     EDREP                                               None         38
41     EDREP                                               None         39
43     EDREP                                               None         41
45     EDREP                                               None         43
46     EDREP                                               None         44
48     EDREP                                               None         47
50     EDREP                                               None         48
...      ...                                                ...        ...
81199  EDREP  \subsection*{Referee report}\n\nThis article d...     101428
81200  EDREP  \n\n\n% ---------- REPORT of xxxxxxxx \n\subse...     100558
81201  EDREP  \n\n\n% ---------- REPORT of xxxxxxxx \n\subse...      99581
81206  EDREP  \n\n\n% ---------- REPORT of xxxxxxxx \n\subse...     101541
81208  EDREP  After this revision the paper is now suitable ...     101999
81209  EDREP  \n\nIn my opinion the manuscript ?Mass of the ...     100532
81210  EDREP  \n\n\n% ---------- REPORT of xxxxxxxx \n\subse...     101419
81211  EDREP  \n\n\n% ---------- REPORT of xxxxxxxx \n\subse...     101105
81213  EDREP  \n\n\n% ---------- REPORT of xxxxxxxx \n\subse...     102004
81215  EDREP                                               None     101758
81217  EDREP  \n\n\n% ---------- REPORT of xxxxxxxx \n\subse...     100753
81218  EDREP  \n\n\n% ---------- REPORT of xxxxxxxx \n\subse...     100519
81219  EDREP  \n\n\n% ---------- REPORT of xxxxxxxx \n\subse...     100901
81220  EDREP                                               None     101982
81221  EDREP                                               None     102025
81222  EDREP  This is a paper, which discusses the Casimir e...     102012
81224  EDREP  It is now crystal clear: the questions of the ...     102029
81227  EDREP  \n\n\n% ---------- REPORT of xxxxxxxx \n\subse...     101773
81228  EDREP  \n\n\n% ---------- REPORT of xxxxxxxx \n\subse...     101853
81230  EDREP  \n\n\n% ---------- REPORT of xxxxxxxx \n\subse...     100983
81231  EDREP  \n\n\n% ---------- REPORT of xxxxxxxx \n\subse...     101263
81233  EDREP  The authors have adequately addressed the conc...     101986
81234  EDREP  \n\n\n% ---------- REPORT of xxxxxxxx \n\subse...      99923
81235  EDREP  \n\n\n% ---------- REPORT of xxxxxxxx \n\subse...     101036
81238  EDREP  \n\n\n% ---------- REPORT of xxxxxxxx \n\subse...     100939
81239  EDREP  \n\n\n% ---------- REPORT of xxxxxxxx \n\subse...     101693
81241  EDREP  \n\n\n% ---------- REPORT of xxxxxxxx \n\subse...     101029
81250  EDREP  \n\n\n% ---------- REPORT of xxxxxxxx \n\subse...     101947
81251  EDREP  \n\n\n% ---------- REPORT of xxxxxxxx \n\subse...      99750
81252  EDREP                                               None     102017

[44492 rows x 3 columns]

In [16]:
df[df['EDRE']=='REREP']

        EDRE                                             Report version_id
0      REREP                                               None          1
4      REREP                                               None          7
7      REREP                                               None         10
9      REREP                                               None         12
11     REREP                                               None         15
13     REREP                                               None         16
15     REREP                                               None         18
17     REREP                                               None         19
20     REREP                                               None         22
23     REREP                                               None         25
25     REREP                                               None         27
27     REREP                                               None         28
29     REREP                                               None         30
31     REREP                                               None         31
33     REREP                                               None         32
35     REREP                                               None         33
39     REREP                                               None         38
42     REREP                                               None         41
44     REREP                                               None         43
47     REREP                                               None         47
49     REREP                                               None         48
51     REREP                                               None         50
53     REREP                                               None         51
56     REREP                                               None         54
58     REREP                                               None         56
60     REREP                                               None         57
62     REREP                                               None         58
65     REREP                                               None         61
67     REREP                                               None         63
70     REREP                                               None         66
...      ...                                                ...        ...
81189  REREP  The presentation of the results and of their d...     101797
81190  REREP  \tIn this paper, the authors consider gauge th...     101097
81191  REREP  The changes in the manuscript and the answers ...     101325
81192  REREP  The manuscript entitled Unitarity Tests of the...     101508
81193  REREP  The paper in question is a useful updating of ...      99923
81197  REREP  This paper uses perturbative and numerical met...      99103
81202  REREP  The authors have made the majority of the requ...     101036
81203  REREP  \centerline{\bf REFEREE REPORT on JHEP 058P-05...      98957
81204  REREP  This article builds on previous work to finish...     101105
81205  REREP  This manuscript presents a study of bottom qua...     101541
81207  REREP  The manuscript presents approximate analytical...     100901
81212  REREP  The authors have added a paragraph clarifying ...     102004
81214  REREP  With a bit of exaggeration Bogoliubov once sai...     100983
81216  REREP   This is a well written paper and represent si...     100519
81223  REREP  Dear Editor,\n\nI am happy with the response t...     102017
81225  REREP  Dear editor,\n\nThe additional text added by t...     101773
81226  REREP  The manuscript by Buchmuller, Dierigl, Ruehle ...     101853
81229  REREP  The paper is rather interesting. The authors e...     101263
81232  REREP  The paper studies the regularity of six-dimens...     101119
81236  REREP  The article is within the subject matter of th...     101693
81237  REREP  The present manuscript deals with a potentiall...     100939
81240  REREP  As elaborated in the previous report, this pap...     101950
81242  REREP  I find the answer of the author to my question...     101620
81243  REREP  The corrected version of the paper can be acce...     101255
81244  REREP  The authors study electric dipole moments in a...      99137
81245  REREP  \nAuthor's report of August 8.\n\nIn this work...     101947
81246  REREP  This is an interesting paper that studies two ...     101698
81247  REREP  The paper Higgs portal valleys, stability and ...      99750
81248  REREP  \nThis paper gives a combinatorial rule that e...     100550
81249  REREP  The main result of this paper is the justifica...     101083

[36761 rows x 3 columns]

In [17]:
df.version_id.value_counts()

60903    6
59325    4
54337    4
46048    4
91996    4
86577    4
91026    4
35835    4
24479    4
84766    4
39042    4
30338    4
90615    4
22593    4
47552    4
45114    4
51037    4
66477    4
51140    4
22643    4
97172    4
38912    4
97625    4
94286    4
89075    4
99369    4
39665    4
75659    4
41086    4
43013    4
        ..
25631    1
25198    1
1919     1
30606    1
14029    1
27736    1
27737    1
32059    1
53867    1
57985    1
33618    1
89796    1
45393    1
32057    1
59686    1
43531    1
40867    1
29428    1
40687    1
40686    1
40680    1
14978    1
40869    1
75460    1
40683    1
35612    1
35613    1
36427    1
35618    1
49080    1
Name: version_id, Length: 44560, dtype: int64

In [18]:
df[df['version_id']=='60903']

        EDRE                                             Report version_id
49108  REREP  This paper is the outcome of a years-long, ver...      60903
49311  REREP  Overall, this is a great work and can be publi...      60903
49422  REREP  \nThis review concerns only the geodetic part ...      60903
49664  REREP  This paper describes a measurement of the muon...      60903
49769  REREP  \noindent \large{\textbf{Review of Measurement...      60903
49831  EDREP  The reports of the referees do not point to an...      60903

In [19]:
from textblob import TextBlob

In [20]:
from textblob import TextBlob
l = []
for i in l2:
    if i == None:
        l.append(-1)
    else:
        sentiment = TextBlob(i)
        l.append(sentiment.sentiment.polarity)

KeyboardInterrupt:

In [ ]:
len(l) , df.shape

In [ ]:
df['Sentiment'] = l

In [7]:
doc_id = []
ver_id = []
with open('versionCod_DocCod.txt') as infile:
    for line in infile:
        a = line.split()
        ver_id.append(a[0])
        doc_id.append(a[1])

In [8]:
len(ver_id),len(doc_id)

(101913, 101913)

In [9]:
d = {
    'version_id':ver_id,
    'doc_id':doc_id
}

df2 = pd.DataFrame(d)

In [10]:
df2 = pd.merge(df,df2)

In [11]:
df2.head()

    EDRE Report version_id doc_id
0  REREP   None          1      1
1  EDREP   None          1      1
2  EDREP   None          3      2
3  EDREP   None          5      3
4  REREP   None          7      4

In [28]:
df.head()

    EDRE Report version_id
0  REREP   None          1
1  EDREP   None          1
2  EDREP   None          3
3  EDREP   None          5
4  REREP   None          7

In [29]:
df2.shape , df.shape

((81253, 4), (81253, 3))

In [46]:
df2.head()

    EDRE Report version_id  Sentiment doc_id  Len
0  REREP   None          1       -1.0      1    0
1  EDREP   None          1       -1.0      1    0
2  EDREP   None          3       -1.0      2    0
3  EDREP   None          5       -1.0      3    0
4  REREP   None          7       -1.0      4    0

In [43]:
df2.shape , df.shape

((81253, 5), (81253, 4))

In [30]:
length = []
for i in df2['Report']:
    if i is None:
        length.append(0)
    else:
        length.append(len(i))

In [31]:
df2['Len'] = length

In [13]:
df2.drop(['EDRE','version_id'],axis=1,inplace=True)

In [14]:
df2.head()

  Report doc_id
0   None      1
1   None      1
2   None      2
3   None      3
4   None      4

In [16]:
df2= df2.drop_duplicates()

In [17]:
df3 = df2.groupby('doc_id').max().reset_index()

In [18]:
df3.head(20)

   doc_id                                             Report
0       1                                                NaN
1      10                                                NaN
2     100                                                NaN
3    1000                                                NaN
4   10000  It has been known for a long time that amplitu...
5   10001   The authors explore in detail a class of solu...
6   10002  The paper deals with Gauge-Higgs Unification (...
7   10003  The paper Orientifolds in N=2 Liouville theory...
8   10004  This is an interesting paper in which the genu...
9   10005  The paper, while probably correct, is not suit...
10  10006  This paper looks at a minisuperspace computati...
11  10007           The paper can be published as it stands.
12  10008  This paper addresses important issues regardin...
13  10009  This is an interesting paper which I recommend...
14   1001                                                NaN
15  10010  \n{\bf JHEP 022P 1007}\n\n\n\n\vskip .5cm\n\nT...
16  10011  In my opinion this paper should not be publish...
17  10012  I am sorry to say this, but the paper does not...
18  10013  The precise measurement  of the three jet data...
19  10014  \nThe paper compares the bounds on possible an...

In [19]:
doc_id = []
year = []
citation_count = []
rounds = []
accepted = []
with open('accepted_papers_all_info_final.txt') as infile:
    for line in infile:
        a = line.split()
        doc_id.append(a[0])
        year.append(a[1])
        rounds.append(a[2])
        citation_count.append(a[3])
        accepted.append(1)
        
with open('rejected_papers_all_info_final.txt') as infile:
    for line in infile:
        a = line.split()
        doc_id.append(a[0])
        year.append(a[1])
        rounds.append(a[2])
        citation_count.append(a[3])
        accepted.append(0)
        
d = {'doc_id' : doc_id,
     'citations' : citation_count,
     'rounds':rounds,
     'year' : year,
     'accepted' : accepted}
document_details = pd.DataFrame(d)

doc =[]
auth = []
with open('DocIdAuthorId.txt') as infile:
    for line in infile:
        a = line.split()
        doc.append(a[0])
        auth.append(a[1])
        
d = {'doc_id' : doc,
     'author_id' : auth}
author_doc = pd.DataFrame(d)
document_details = pd.merge(document_details , author_doc , on='doc_id' , how = 'inner')
document_details = pd.merge(document_details,df3)

In [20]:
document_details.tail()

,accepted,citations,doc_id,rounds,year,author_id,Report
84091,0,7,12204,1,2008,327,NaN
84092,0,7,12204,1,2008,10082,NaN
84093,0,7,12204,1,2008,3655,NaN
84094,0,16,10778,2,2008,10119,NaN
84095,0,0,28614,1,2015,13929,"Given its emphasis, this paper is more suitabl..."

In [21]:
document_details = document_details.drop_duplicates()

In [22]:
document_details.dtypes

accepted      int64
citations    object
doc_id       object
rounds       object
year         object
author_id    object
Report       object
dtype: object

In [23]:
document_details.author_id = document_details.author_id.astype(int)

In [24]:
y = document_details['author_id'].unique()
high = []
with open('high_acceptance.txt') as infile:
    for line in infile:
        a = line.split(':')
        high.append(int(a[0]))
low = []
with open('low_acceptance.txt') as infile:
    for line in infile:
        a = line.split(':')
        low.append(int(a[0]))
med = []
with open('medium_acceptance.txt') as infile:
    for line in infile:
        a = line.split(':')
        med.append(int(a[0]))
l = []
for i in y:
    if i in high:
        l.append(0)
    elif i in med:
        l.append(1)
    elif i in low:
        l.append(2)
    else:
        l.append(-1)
        
d = {
    'author_id':y,
    'Flag':l
}

flag = pd.DataFrame(d)

In [25]:
df = pd.merge(document_details,flag)

In [27]:
df.head()

,accepted,citations,doc_id,rounds,year,author_id,Report,Flag
0,1,0,25604,2,2014,13513,This referee enjoyed reading this paper.\n\nIn...,0
1,1,15,14964,2,2010,13513,In the work Three dimensional origin of AdS2 q...,0
2,1,2,25049,2,2014,13513,The authors of the manuscript apply the method...,0
3,1,105,16767,1,2011,13513,\n\nIn this paper the authors aim to relate th...,0
4,1,4,24025,2,2013,13513,The authors consider holographic duals to Lifs...,0

In [28]:
df.dtypes

accepted      int64
citations    object
doc_id       object
rounds       object
year         object
author_id     int32
Report       object
Flag          int64
dtype: object

In [29]:
doc =[]
ver = []
with open('versionCod_DocCod.txt') as infile:
    for line in infile:
        a = line.split()
        ver.append(a[0])
        doc.append(a[1])
        
d = {'doc_id' : doc,
     'version' : ver}
ver_df = pd.DataFrame(d)

rev =[]
ver = []
with open('versionCod_refereeCod.txt') as infile:
    for line in infile:
        a = line.split()
        ver.append(a[0])
        rev.append(a[1])
        
d = {'reviewer' : rev,
     'version' : ver}
rev_df = pd.DataFrame(d)

df4 = pd.merge(ver_df,rev_df)
df4 = df4[['doc_id','reviewer']]
df4 = df4.drop_duplicates()
#df4.doc_id = df4.doc_id.astype(int)
df4.reviewer = df4.reviewer.astype(int)
df4 = pd.merge(df,df4)
#df = df[['doc_id','reviewer','author_id']]
df = df.drop_duplicates()

In [31]:
df4.head()

,accepted,citations,doc_id,rounds,year,author_id,Report,Flag,reviewer
0,1,0,25604,2,2014,13513,This referee enjoyed reading this paper.\n\nIn...,0,262
1,1,0,25604,2,2014,21593,This referee enjoyed reading this paper.\n\nIn...,0,262
2,1,0,25604,2,2014,4302,This referee enjoyed reading this paper.\n\nIn...,1,262
3,1,15,14964,2,2010,13513,In the work Three dimensional origin of AdS2 q...,0,1632
4,1,15,14964,2,2010,8587,In the work Three dimensional origin of AdS2 q...,0,1632

In [33]:
l = []
for i in df4['reviewer'].unique():
    a = df4[df4['reviewer']==i]['Flag']
    if 0 in a:
        if 2 in a:
            l.append(i)

In [40]:
l = []
for i in df4['Report']:
    try:
        l.append(len(i))
    except:
        l.append(0)
        
df4['Len'] = l

In [41]:
df4[df4['reviewer']==262]

,accepted,citations,doc_id,rounds,year,author_id,Report,Flag,reviewer,Len
0,1,0,25604,2,2014,13513,This referee enjoyed reading this paper.\n\nIn...,0,262,2145
1,1,0,25604,2,2014,21593,This referee enjoyed reading this paper.\n\nIn...,0,262,2145
2,1,0,25604,2,2014,4302,This referee enjoyed reading this paper.\n\nIn...,1,262,2145
6942,1,7,24236,1,2013,778,\nThis referee found that this is an interesti...,1,262,1615
6943,1,7,24236,1,2013,6670,\nThis referee found that this is an interesti...,1,262,1615
6944,1,7,24236,1,2013,14826,\nThis referee found that this is an interesti...,1,262,1615
7423,1,6,21953,1,2013,6499,\n This referee found this paper reasonably in...,1,262,699
9162,1,66,20979,2,2012,12002,This referee found this paper pretty interest...,0,262,1185
9163,1,66,20979,2,2012,182,This referee found this paper pretty interest...,0,262,1185
9164,1,66,20979,2,2012,3154,This referee found this paper pretty interest...,0,262,1185
15336,1,32,9514,2,2007,8587,This referee found this paper very interesting...,0,262,1174
15337,1,32,9514,2,2007,3937,This referee found this paper very interesting...,0,262,1174
15338,1,32,9514,2,2007,6545,This referee found this paper very interesting...,1,262,1174
15339,1,32,9514,2,2007,4092,This referee found this paper very interesting...,0,262,1174
25727,1,24,4710,1,2004,4330,NaN,0,262,0
25728,1,24,4710,1,2004,5148,NaN,2,262,0
25729,1,24,4710,1,2004,5149,NaN,2,262,0
26010,1,37,8060,1,2006,4693,I found this paper quite interesting and impor...,0,262,727
26011,1,37,8060,1,2006,5160,I found this paper quite interesting and impor...,1,262,727
26012,1,37,8060,1,2006,7864,I found this paper quite interesting and impor...,2,262,727
27745,1,11,21875,1,2013,4746,\nThe referee found this paper reasonably inte...,0,262,699
27746,1,11,21875,1,2013,15026,\nThe referee found this paper reasonably inte...,0,262,699
27747,1,11,21875,1,2013,18229,\nThe referee found this paper reasonably inte...,0,262,699
29173,1,4,21939,2,2013,14341,\n This referee found this paper very interest...,1,262,878
31243,1,4,23826,2,2014,8328,This referee found this paper quite interestin...,1,262,2573
31244,1,4,23826,2,2014,3354,This referee found this paper quite interestin...,0,262,2573
41301,1,3,19577,1,2012,14665,This referee found this paper interesting. The...,0,262,385
41302,1,3,19577,1,2012,5658,This referee found this paper interesting. The...,1,262,385
45049,1,21,11895,3,2009,4597,The authors modify the draft in response to th...,1,262,869
45050,1,21,11895,3,2009,4260,The authors modify the draft in response to th...,1,262,869
45051,1,21,11895,3,2009,8497,The authors modify the draft in response to th...,1,262,869
52535,1,18,19860,1,2012,808,This referee found this paper interesting. \n\...,1,262,862
52536,1,18,19860,1,2012,1326,This referee found this paper interesting. \n\...,2,262,862
64541,1,0,9631,3,2007,7307,This paper considers the application of the en...,1,262,3707
64543,1,0,9631,3,2007,7308,This paper considers the application of the en...,1,262,3707
66930,1,3,17209,1,2011,14269,These authors study non-supersymmetric attrac...,1,262,1232
66931,1,3,17209,1,2011,14270,These authors study non-supersymmetric attrac...,1,262,1232
72080,0,0,6720,1,2005,6774,\nI find this paper is very confusing. \n\nThe...,2,262,3789

In [50]:
print df4[df4['doc_id']=='19860']['Report'][52535]

This referee found this paper interesting.

In this paper, the authors considered Einstein + scalar field system where the
potential for the scalar field takes specific form in such a way that it admits exact black brane solutions.

The properties of these black brane solutions, especially its UV and IR behaviors, and their thermodynamical properties,
are fully investigated in this paper in great detail.
Following that, the authors showed that there are phase transitions at some temperature.
Finally the authors pointed out interesting nature that hyper-scaling violation parameter $\theta$  always turns out to be negative.

The analysis done in this paper contains a lot of material, and this referee thinks that the quality of this paper is good enough
for the publication in JHEP. Therefore this referee recommend this paper for publication.

In [144]:
auth_id = []
degree_cen = []
with open('degreecentrality.txt') as infile:
    for line in infile:
        a = line.split()
        auth_id.append(a[0])
        degree_cen.append(a[1])

d = {'author_id' : auth_id,
     'degree_centrality' : degree_cen}

degree_cen = pd.DataFrame(d)

In [145]:
def in_qrange(ser, q):
    return ser.between(*ser.quantile(q=q))

In [146]:
degree_cen.degree_centrality = degree_cen.degree_centrality.astype(float)

In [147]:
bottom25 =  degree_cen.loc[degree_cen['degree_centrality'].transform(in_qrange, q=[0, 0.25])]
top25 =  degree_cen.loc[degree_cen['degree_centrality'].transform(in_qrange, q=[0.75, 1])]

In [148]:
bottom25 = pd.merge(document_details , bottom25 )

In [149]:
top25 = pd.merge(document_details , top25 )

In [150]:
bottom25.head()

,accepted,citations,doc_id,rounds,year,author_id,Sentiment,degree_centrality
0,1,23,11546,3,2008,10699,0.208170,0.000679
1,1,3,17851,2,2011,10699,0.291667,0.000679
2,1,165,15250,2,2010,10699,0.035833,0.000679
3,1,59,19927,1,2012,18126,0.303333,0.001231
4,1,0,26417,2,2014,18126,0.055423,0.001231

In [151]:
top25.head()

,accepted,citations,doc_id,rounds,year,author_id,Sentiment,degree_centrality
0,1,0,25604,2,2014,13513,0.121670,0.017833
1,1,15,14964,2,2010,13513,0.433333,0.017833
2,1,2,25049,2,2014,13513,0.108193,0.017833
3,1,105,16767,1,2011,13513,0.029614,0.017833
4,1,4,24025,2,2013,13513,-0.003526,0.017833

In [154]:
bottom25[bottom25['Sentiment']!= -1]['Sentiment'].mean()

0.16481882127491415

In [155]:
top25[top25['Sentiment']!= -1]['Sentiment'].mean()

0.16974355793162188

In [158]:
a = document_details[document_details['Sentiment']!=-1]

In [159]:
a.citations = a.citations.astype(int)

In [160]:
bottom25 =  a.loc[a['Sentiment'].transform(in_qrange, q=[0, 0.25])]
top25 =  a.loc[a['Sentiment'].transform(in_qrange, q=[0.75, 1])]

In [164]:
bottom25.citations.mean()

22.743906746732602

In [165]:
top25.citations.mean()

30.223596630735702

In [58]:
document_details.to_csv('Sentiment.csv',index=False)